
    

body {
    margin: 0;
    font-family:  "Montserrat", sans-serif;
    background-color:#F3F2EF;
    color: #595151; /* Default text color */

}

header{
    position: sticky;
     top: 0;
     width: 100%;
     padding: 0px;
     text-align: center;
          
}


nav {
    display: flex;
    justify-content: center; 
    background-color:#F3F2EF;
    border-bottom: 1px solid #C7C7C7;
    height: 80px;
    padding: 0 20px;
    flex-direction: column;

   
}

.nav-links a {
   
    color:black;
    text-decoration: none;
    margin: 0 15px;
    font-size: small;
    padding: 30px; 
}

.nav-links a:hover {
    color: #FF6400;
    border-bottom: 1px solid #FF6400;
}

.nav-icons i {
    color: grey;
    margin: 0 10px;
    font-size: 20px;
    transition: color 0.3s ease;
}

.nav-icons i:hover {
    color: #945DD6;
}
.nav-icons{
    margin-right: 0px;
}




h1{
    color:rgb(8, 6, 6);
    font-weight: 500;
}

h2{
    color:rgb(8, 6, 6);
    font-weight: 500;
    text-align: center;
    margin-bottom: 30px;
}

main{
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;   
}
.content {
    display: flex;
  
  
}
.flex-container {
   padding-left: 40px;
   align-self:flex-end;
   
}

.button-contentsec {
    background-color: #FF6400; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    
}

button:hover {
    background-color: #945DD6;
}

#about{
    margin-top: 30px;
    padding: 20px;
}
#experience {
    padding: 20px;
    background-color: #f9f9f9;
  
  }
 
  
  .job {
    margin-bottom: 30px;
    flex-direction: column;

  }
  
  .job-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    list-style-type: none; 
    padding-left: 0; 
    margin: 0; 
  }

  .job-title {
    font-size: 1.2em;
    text-decoration: none;

   
  }
  
  .job-dates {
    color: #666;
    
  }
  
  .job-description {
    padding-top: 10px;
    font-size: 1em;
    color: #333;
  }



.experience-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
   
    
}


.job {
    background-color: #f9f9f9;
    padding: 1em;
   
}

.job-header {
    list-style: none;
    padding: 0;
    margin: 0 0 1em 0;
}

.job-title {
    font-weight: bold;
    font-size: 1.2em;
}

.job-dates {
    color: #666;
}

.job-description p {
    margin: 0;
}





#skills{
    margin-top: 30px;
    padding: 20px;
    text-align: center;
}



.projects-section {
    display:flex;
    background-color: #fff;
    max-width: 1200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    flex-wrap: wrap;
}



.project-card {
   
    background-color: #f9f9f9;
    border-radius: 8px;
    margin: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(33.333%);
}

.project-image {
    width: 100%;
    max-width: 200px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.project-details {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-details h3 {
    margin: 0 0 10px 0;
    font-weight: 500;
    color: #333;
}

.project-details p {
    margin: 0 0 10px 0;
    font-size: 1em;
    color: #666;
}

.project-link {
    text-decoration: none;
    color: #FF6400;
    margin-top: auto;
    align-self: flex-start;
}

.project-link:hover {
    text-decoration: underline;

}



footer{
    display: flex;
    justify-content: center; 
    align-items: center;
    color: white;
    padding: 0 20px;

}

footer {
    background-color: #333333;
    padding: 20px 0;
    color: white;
    text-align: center;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    margin: 20px 0;
}

.footer-section h3 {
    margin-bottom: 10px;
}

.footer-section p,
.footer-section form {
    margin: 10px;
}

.footer-section form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-section input[type="email"] {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

.footer-section button {
   background-color:#FF6400;;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.footer-section button:hover {
    background-color: #945DD6;
}

.footer-section a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 20px;
    transition: color 0.3s ease;
}

.footer-section a:hover {
    color: green;
}

.footer-bottom {
    margin-top: 20px;
    border-top: 1px solid #444444;
    padding-top: 10px;
}

.footer-bottom p {
    margin: 0;
}



/* Mobile Styles */




@media (max-width: 600px) {
    body{
      font-size: small;
    }
    .nav-links a {
        padding: 2px;
        display: flex;
        flex-direction: column;
    }
    nav{
    height: 130px;
    }
    .nav-links a:hover{
        border-bottom:hidden;
  
    }
    .content{
        display: flex;
        flex-direction: column;
       
    }
    .flex-container {
        padding-left: 20px;
    
    }

    .button-contentsec{
        width: calc(100% - 180px); 
        padding: calc(0.8em - 1px) calc(1.2em - 1px); 
    }
    flex-container{
        width: 100%;
    }

    #about, #experience, #skills, #projects{
        margin-top: 10px;
    }



}

/* Tablet styles */


@media (max-width: 600px) {
    body{
        font-size:medium
      }
    .nav-links a {
          padding: 2px;
          display: flex;
        
      }
    nav{
        height: 130px;
        flex-direction: row;
        }

    .nav-links {
        flex-direction: row;
        justify-content: center;
    }
    .content{
        display: flex;
        flex-direction: column;
       
    }
    .contentsec{
        padding-left: 20px;
    }
    .flex-container {
        padding-left: 20px;
        
    
    }
    #about, #experience, #skills, #projects{
        margin-top: 10px;
    }

}

/* Desktop styles */

@media (min-width: 1024px) {
    .content {
        padding: 2em 5em;
    }
}
