
    

body {
    margin: 0;
    width: 100%;
    font-family:  "Montserrat", sans-serif;
    background-color:#F3F2EF;
    color: #595151; /* Default text color */
    font-size: 0.9 em;
   

}

header{
    position: sticky;
     top: 0;
     width: 100%;
     padding: 0px;
     text-align: center;
          
}

/* Navigaition-------------------------------------------------------------------*/


nav {
    display: flex;
    justify-content: center; 
    background-color:#F3F2EF;
    border-bottom: 1px solid #C7C7C7;
    height: 80px;
    padding: 0 20px;
    flex-direction: column;

   
}

.nav-links a {
   
    color:black;
    text-decoration: none;
    margin: 0 15px;
    font-size: small;
    padding: 30px; 
}

.nav-links a:hover {
    color: #FF6400;
    border-bottom: 1px solid #FF6400;
}

.nav-icons i {
    color: grey;
    margin: 0 10px;
    font-size: 20px;
    transition: color 0.3s ease;
}

.nav-icons i:hover {
    color: #945DD6;
}
.nav-icons{
    margin-right: 0px;
}


/* Headers -------------------------------------------------------------*/

h1{
    color:rgb(8, 6, 6);
    font-weight: 500;
}

h2{
    color:rgb(8, 6, 6);
    font-weight: 500;
    text-align: center;
    margin-bottom: 30px;
}

/* Main------------------------------------------------------------------- */

main{
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 20px;   
}
.content {
    display: flex;
  
  
}
.flex-container {
   padding-left: 40px;
   align-self:flex-end;
   
}

.button-contentsec {
    background-color: #FF6400; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    
}

button:hover {
    background-color: #945DD6;
}

/* About section*-----------------------------------------------------------------*/

#about{
    margin-top: 30px;
    padding: 20px;
}

/* Experience section----------------------------------------------------------*/



#experience {
    padding: 20px;
    background-color: #f9f9f9;
  
  }
 
  
  .job {
    margin-bottom: 30px;
    flex-direction: column;

  }
  
  .job-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    list-style-type: none; 
    padding-left: 0; 
    margin: 0; 
  }

  .job-title {
    font-size: 1.2em;
    text-decoration: none;
    padding: 10px;

   
  }
  
  .job-dates {
    color: #666;
    
  }
  
  .job-description {
    padding-top: 10px;
    font-size: 1em;
    color: #333;
  }



.experience-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
   
    
}


.job {
    background-color: #f9f9f9;
    padding: 1em;
   
}

.job-header {
    list-style: none;
    padding: 0;
    margin: 0 0 1em 0;
}

.job-title {
    font-weight: bold;
    font-size: 1.2em;
}

.job-dates {
    color: #666;
}

.job-description p {
    margin: 0;
}



/* Skills section---------------------------------------------------*/

#skills{
    margin-top: 30px;
    padding: 20px;
 
}




form[name="leave_message"] {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form[name="leave_message"] label {
    font-size: 1.1em;
    margin-bottom: 5px;
    color: #555;
    display: block;
}

form[name="leave_message"] input[type="text"],
form[name="leave_message"] input[type="email"],
form[name="leave_message"] textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    box-sizing: border-box;
}

form[name="leave_message"] textarea {
    height: 150px;
    resize: vertical;
}

form[name="leave_message"] button {
    background-color: #FF6400;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

form[name="leave_message"] button:hover {
    background-color: #945DD6;
}




/* Projects section---------------------------------------------------*/

.projects-section {
    display:flex;
    background-color: #fff;
    max-width: 1200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    flex-wrap: wrap;
    list-style-type: none;
}



.project-card {
   
    background-color: #f9f9f9;
    border-radius: 8px;
    margin: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(33.333%);
}



.project-details {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-details h3 {
    margin: 0 0 10px 0;
    font-weight: 500;
    color: #333;
}

.project-details p {
    margin: 0 0 10px 0;
    font-size: 1em;
    color: #666;
}

.project-link {
    text-decoration: none;
    color: #FF6400;
    margin-top: auto;
    align-self: flex-start;
}

.project-link:hover {
    text-decoration: underline;

}





/* Skills Section ------------------------------------*/

#skills {
    background-color: #fff;  /* Background color for contrast */
    padding: 40px 20px;  /* Padding to create space around the content */
    text-align: center;  /* Center align the section title */
}

#skills h2 {
    font-size: 2em;
    color: #333;  /* Darker text color */
    margin-bottom: 20px;
}

#skills ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;  /* Allows the skills list to wrap on smaller screens */
}

#skills ul li {
    background-color: #f3f2ef;
    border: 1px solid #ddd;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    font-size: 1.1em;
    color: #555;
}

/* Add hover effect for the skill items */
#skills ul li:hover {
    background-color: #FF6400;  /* Orange hover effect */
    color: #fff;
}

/* Leave a Message Section ----------------------------------*/

.leavemessage {
    background-color: #f9f9f9;  /* Light background color */
    padding: 40px 20px;
    margin-top: 40px;
}

.leavemessage h2 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}

.leavemessage form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leavemessage label {
    font-size: 1.1em;
    color: #555;
    margin-bottom: 10px;
}

.leavemessage input[type="text"],
.leavemessage input[type="email"],
.leavemessage textarea {
    width: 80%;
    max-width: 500px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
    box-sizing: border-box;  /* Ensures consistent sizing */
}

.leavemessage textarea {
    height: 150px;  /* Set a fixed height for the message box */
}

.leavemessage button {
    background-color: #FF6400;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.leavemessage button:hover {
    background-color: #945DD6;  /* Purple hover effect */
}



/* Messages Section ----------------------------------*/

#messages {
    background-color: #fff;
    padding: 40px 20px;
    margin-top: 40px;
    text-align: center;
    
}

#messages h2 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}

#messages ul {
    list-style-type: none;
    padding: 0;
    max-width: 800px;
    margin: 0 auto;
}

#messages ul li {
    background-color: #f3f2ef;
    border: 1px solid #ddd;
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: left;
    color: #555;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

  
  /* Style for the message */
  .message-email {
    font-weight: bold;
    color: #333;
    text-decoration: none;
  }
  
  .message-email:hover {
    color: #ff6400;
    text-decoration: underline;
  }
  
  /* Style for the user message text (the <span> tag) */
  .message-text {
    margin-left: 20px;
    color: #666;
    text-align: left;
    flex-grow: 1; /* Ensures the text takes available space, pushing the button to the right */
  }
  
  /* Style for the remove button */
  .remove-button {
    background-color: #ff6400;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
   
   
    
  }
  
  .remove-button:hover {
    background-color: #d9534f;
  }
  







/* Footer section------------------------------------------------------------*/

footer{
    display: flex;
    justify-content: center; 
    align-items: center;
    color: white;
    padding: 0 20px;

}

footer {
    background-color: #333333;
    padding: 20px 0;
    color: white;
    text-align: center;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    margin: 20px 0;
}

.footer-section h3 {
    margin-bottom: 10px;
}

.footer-section p,
.footer-section form {
    margin: 10px;
}

.footer-section form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-section input[type="email"] {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

.footer-section button {
   background-color:#FF6400;;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.footer-section button:hover {
    background-color: #945DD6;
}

.footer-section a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 20px;
    transition: color 0.3s ease;
}

.footer-section a:hover {
    color: #945DD6;
}

.footer-bottom {
    margin-top: 20px;
    border-top: 1px solid #444444;
    padding-top: 10px;
}

.footer-bottom p {
    margin: 0;
}



/* Mobile Styles -------------------------------------------------------*/




@media (max-width: 600px) {
   

    main{
        margin-top: 20px;
        margin-bottom: 80px;
        width: 70%;   
        text-align: center;
    }
    .nav-links a {
        padding: 2px;
        display: flex;
        flex-direction: column;
    }
     
  
    nav{
    height: 130px;
    width: full;
    padding: 0px;
    margin:0px;
    
    }
    .nav-links a:hover{
        border-bottom:hidden;
    }

    .article-image{
        max-width: 400px;
    }
    .content{
        display: flex;
        flex-direction: column; 
    }
    
    .project-details {
       
        flex-direction: row;
        
        
    }
    .project-details p{
        display: none;
    }
    .project-details h3 {
       padding-right: 40px;
    }

    .project-link {
        text-decoration: none;
        color: #FF6400;
        margin-top: auto;
  
    }

    h1{
        text-align: center;
    }
  

    .flex-container {
        padding-left: 20px; 
        
     }

    .button-contentsec{
        width: calc(100% - 180px); 
        padding: calc(0.8em - 1px) calc(1.2em - 1px); 
    }
    .flex-container{
        width: 100%;
    }

    #about, #experience, #skills, #projects{
        margin-top: 0px;
    }

  

}








/* Tablet styles --------------------------------------------------------*/


@media screen and (min-width: 600px) and (max-width:1200px)  {
    body{
        font-size:1.3em;
       
      }
      nav {
        padding: 2px;
        display: flex;
        flex-direction: row;
        align-items: center;  
      }

      main{
        margin-top: 20px;
        margin-bottom: 80px;
        margin-left: auto;
        margin-right: auto;
        width: 95%;   
    }
    .contentsec{
        padding-left: 20px;
    }
    .flex-container {
        padding-left: 40px;
        
    
    }
  
    #about, #experience, #skills, #projects{
        margin-top: 3px;
 
    }
    .job-title{
        padding-left: 10px;
    }
    .job-dates{
        margin-right: 10px;
    }

  
}

